{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Acerca de</h1>
    <p>Versión: 1.2</p>
    <p>Esta aplicación permite subir y visualizar imágenes de manera sencilla y rápida.</p>
    <p></p>
    <p>Desarrollada por:  libertariocapitalminarquista@gmail.com  </p>
    <p>Fecha: 2025 - mayo - 22 </p>
        <p>Licencia: Free  </p>
     <p>    </p>
 
<p> </p>
<h1>Pendientes</h1>
    <ul>
        <li>Agregar opción de eliminar imágenes.</li>
        <li>Mejorar la interfaz de usuario.</li>
        <li>Agregar soporte para diferentes formatos de imagen.</li>
        <li>cambiar almacenamiento hacia AWS S3</li>
    </ul>

    
</div>

{% endblock %}

